*{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* -- SECCIÓN HEADER -- */
section {
  overflow: hidden;
  padding: 80px 0;
  background-color: #FCF1F0;
}

.section-header {
  text-align: center;
  padding-bottom: 50px;
  
  h1{
    font-weight: 700;
    color: #686765;
  }
}


/* --- NAVBAR --- */

.navbar{
background-color: #ED4D8B !important;
}
.navbar-toggler{
  line-height: 1;
  color: #fff !important;
  background-color: #90604c;
  background: #fff;
}
.navbar-nav .nav-link{
  color: #FCF1F0 !important;
}
.navbar-nav .nav-link:hover{
  color: #F8BF80 !important;
}
.nav-link{
  color: #F8BF80;
  font-weight: 500;
  font-size: 20px;
}

.nav-logo{
    height: 50px;
    margin-right: 26px;
  
    
}
.nav-item{
  align-self: center;
  @media only screen and (max-width: 991px) {
    align-self: start;
    }
    
}
.navbar-nav .nav-item:first-child .nav-link{
    margin-left: 20px;
}

.navbar-text a.nav-link{
    margin-right: 20px;
}


@media only screen and (max-width: 991px) {
    .nav-logo{
        display: none;
        
    }
}
.nav-logo-celular{
  height: 45px;
  position: absolute;
  right: 12px;
  top: 4px;
}
@media only screen and (min-width: 992px) {
  .nav-logo-celular{
      display: none;
  }
}
#boton-login{
  color: #FCF1F0;
  border-color: #F8BF80;
&:hover{
  background-color: #FE9DD0;
}
}
/* --- FIN NAVBAR --- */


/* --- Sección 1 (Jumbotron) -----*/
#jumbotron{
  padding: 0;
}
.contenedor{
   
    
    @media only screen and (min-width: 815px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
}
.left{
    background-color: #F3A8BB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ebeae7;
    padding: 40px;
    gap: 20px;
    opacity: 0.8;
    
}

.right{
    background-image: url("../img/nails-salon.jpg");
    background-size: cover;
    background-position: center;
        background: black;
        overflow: hidden;
        
    
    img {
       object-fit: cover;
       opacity: 0.8;
       height: -webkit-fill-available;
       width: -webkit-fill-available ;
       max-height: 800px;

    }

    @media only screen and (max-width: 815px) {
       display: none;
  }
    
}

.left h1{
    color:#42413e ;
    font-size: 3.2rem;
    font-weight: 900;
    margin-top: 50px;
    @media only screen and (max-width: 768px) {
      font-size: 2rem;
    }
}

.left a{
    background: #ed4d8b;
    color: #fffefc;
    font-weight: 400;
    padding: 4px 25px;
    border-radius: 15px;
    text-decoration: none;
}

.left a:hover{
    background-color: #ed4d8b75;
    color: #ebeae7;
}
.left h2{
    font-size: 20px;
    font-weight: 700;
    word-spacing: 5px;
    margin-top: 40px;
    color: #42413e;
}
.left h3{
    font-size: 16px;
}

.left p {
    color:inherit; 
    width:70%;
    font-size: 14px; 
   
} 

/*Sección Sobre-Nosotros*/
  
  .titulo1 {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;

    @media only screen and (max-width: 767px) {
      padding-left: 40px;
      padding-right: 40px;
    } 
 .descripcion{
    font-size: 24px;
 }   
  }
/*Fin Sección Sobre-Nosotros*/
  
  /*servicios*/
.nuestros-servicios {
background-color: #e6c2bf !important;
}
  .titulo2{
    padding: 0 80px;
    display:flex;
   
    justify-content: center;
   
    
    color:var(--primary-dark);
    
    @media only screen and (min-width: 1024px) {
      gap:80px;
 }
 @media only screen and (min-width: 768px) {
  gap:40px;
}
@media only screen and (max-width: 767px) {
  gap:40px;
  display:grid;
  padding: 0 30px;
}
}

.services {
    padding-top: 60px;
    background-color: #e4d5b7;
    margin:0;
    h1{
        margin: 0;
    }
}


.card {
    flex:1;
    max-width: 300px;
    min-width:200px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    padding: 0;
}

.card img.card-img-top {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit:cover;
    object-position:center;
    height: 250px;


}

.card a.card-link{
    color: var(--primary-dark);
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    text-transform:uppercase;
    padding-bottom: 8px;
    display:block;

}   

.card a.card-link:hover{
    text-decoration:underline;
    cursor:pointer;

}

.card-text{
    font-size: 18px;
    color:#777;

}
 /*Fin Catálogo servicios*/

/*Contacto*/
.contáctanos .info-item {
    background: #fff;
    padding: 30px;
    height: 100%;
  }
  
  .contáctanos .info-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    background:pink;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .contáctanos .info-item h3 {
    font-size: 20px;
    color: #6c757d;
    font-weight: 700;
    margin: 0 0 5px 0;
  }
  
  .contáctanos .info-item p {
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
  }
  
  .contáctanos .info-item .social-links a {
    font-size: 24px;
    display: inline-block;
    color: rgba(55, 55, 63, 0.7);
    line-height: 1;
    margin: 4px 6px 0 0;
    transition: 0.3s;
  }
  
  .contáctanos .info-item .social-links a:hover {
    color: var(--color-primary);
  }
  
  .contáctanos .email-form {
    width: 100%;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  }
  
  .contáctanos .email-form .form-group {
    padding-bottom: 20px;
  }
  
  .contáctanos .email-form input,
  .contáctanos .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contáctanos .email-form input:focus,
  .contáctanos .email-form textarea:focus {
    border-color: var(--color-primary);
  }
  
  .contáctanos .email-form input {
    height: 48px;
  }
  
  .contáctanos .email-form textarea {
    padding: 10px 12px;
  }
  
  .contáctanos .email-form button[type=submit] {
    background: rgb(245, 215, 215);
    border: 0;
    padding: 12px 40px;
    color: #000000;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contáctanos .email-form button[type=submit]:hover {
    background: #c6a7a7;
  }
  
